/**
*   Credits to : https://codepen.io/pgalor/details/OeRWJQ 
**/

.glitch{
  animation: glitch 1s linear;
  animation-iteration-count: 2, 0, infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitch:before,
.glitch:after{
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  font-size: 0.9em;
  
  width: 12ch;
  height: 2ch;
  /* word-wrap: break-word; */
  color: rgba(19, 1, 1, 0.438);
  /* filter: drop-shadow(10px 0px 1px cyan) drop-shadow(-10px 0px 1px magenta) drop-shadow(-10px 10px 1px yellow) drop-shadow(10px -10px 1px black); */
}

.glitch:before{
  animation: glitchTop 1s linear 5;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitch:after{
  animation: glitchBottom 1.5s linear 5;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

/*
.glitchImage{
  animation: glitchImage 1s linear;
  animation-iteration-count: 2, 0, infinite;
}

@keyframes glitchImage{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitchImage:before,
.glitchImage:after{
  content: url("maTete.png");
  position: relative;
  top: -100px;
  left: 0;
  right: -50px;
  filter: drop-shadow(10px 0px 1px cyan) drop-shadow(-10px 0px 1px magenta) drop-shadow(-10px 10px 1px yellow) drop-shadow(10px -10px 1px black);
}

.glitchImage:before{
  animation: glitchImageTop 1s linear 5;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchImageTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitchImage:after{
  animation: glitchImageBottom 1.5s linear 5;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchImageBottom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
*/


/**
* My own custom glitch effects
**/

@keyframes CMYKGlitch {
    0% { 
        filter: drop-shadow(10px 0px 1px cyan) drop-shadow(-10px 0px 1px magenta) drop-shadow(-10px 10px 1px yellow) drop-shadow(10px -10px 1px black);
    }
    20% { filter: brightness(200%); }
    30% { filter: drop-shadow(10px 0px 1px cyan); }
    68% { filter: drop-shadow(-10px 0px 1px magenta); }
    72% { filter: drop-shadow(-10px 10px 1px yellow); }
    85% { filter: brightness(200%); }
    100% { filter: drop-shadow(10px -10px 1px black); } 
   
  }

  @keyframes RGBCMYKGlitch {
    0% { 
        /* filter: drop-shadow(10px 0px 1px red) drop-shadow(-12px 0px 1px green) drop-shadow(-14px 14px 1px blue) drop-shadow(16px 0px 1px cyan) drop-shadow(-18px 0px 1px magenta) drop-shadow(-20px 20px 1px yellow) drop-shadow(10px -10px 1px black); */
    }
    20% { filter: brightness(200%); }
    30% { filter: drop-shadow(10px 0px 3px red); }
    40% { filter: drop-shadow(-12px 0px 3px green); }
    50% { filter: drop-shadow(-14px 14px 3px blue); }
    60% { filter: drop-shadow(16px 0px 3px cyan); }
    70% { filter: drop-shadow(-18px 0px 3px magenta); }
    80% { filter: drop-shadow(-20px 20px 3px yellow); }
    /* 90% { filter: brightness(200%); } */
    /* 100% { filter: drop-shadow(10px -10px 1px black); }  */
   
  }

  @keyframes CyanMagentaGlitch {
    0% { 
        filter: drop-shadow(10px 0px 3px cyan) drop-shadow(-10px 0px 3px magenta);
    }
    5% { filter: brightness(200%); }
    10% { filter: drop-shadow(10px 0px 3px cyan); }
    /* 35% { filter: invert(45deg);} */
    20% { filter: drop-shadow(-10px 0px 3px magenta); }
    68% { filter: drop-shadow(10px 0px 3px cyan) drop-shadow(-10px 0px 3px magenta); }
    70% { background-blend-mode: hard-light; }
    /* 72% { filter: drop-shadow(-10px 10px 1px yellow); } */
    /* 85% { filter: brightness(200%); } */
    /* 100% { filter: drop-shadow(10px -10px 1px black); } */   
  }

  @keyframes RedYellowCyanBlueGlitch {
    0% { 
        filter: drop-shadow(7px 0px 3px cyan) drop-shadow(10px 0px 3px blue)
        drop-shadow(-10px 0px 3px red) drop-shadow(-7px 0px 3px yellow);
    }
    /* 50% { filter: brightness(200%); } */
    100% { 
      filter: drop-shadow(-7px 0px 3px cyan) drop-shadow(-10px 0px 3px blue)
      drop-shadow(10px 0px 3px red) drop-shadow(7px 0px 3px yellow);
     }
  }