:root{
    --menuHeight : 76.5px;
    --basic-font-size : 16px;
    --bk-color: hsl(0, 0%, 93%);
    --bk-color-darker: hsl(0, 0%, 80%);
    --accent-color : linear-gradient(180deg, rgba(45, 227, 41, 0.39) 0%, rgba(151, 253, 149, 0.39) 100%);
    --secondary-color: #F2F2F2;
    --third-color: #E8E8E8;
    --CTA-BGcolor: #000;
    --CTA-TXTcolor: #fff;
    /* --accent-color: hsl(179, 85%, 25%, 1); */
    --headline-ff : 'Roboto', sans-serif;
    /* --headline-ff : 'BLOKK'; */

    --subheadline-ff : 'Chilanka';
    --gutter:0.2em;

}